<h2>About Me</h2>
<p>Front-end dev. Bringing psd mockups to life in Drupal since 2009.</p>
<p>To find out more, <a href="#">click here</a>.</p>

<h2>Some of the stuff I work with</h2>
<ul>
  <li>CSS</li>
  <li>jQuery</li>
  <li>Drupal</li>
  <li>Wordpress</li>
</ul>

<p>To see samples of my previous work see my <a href="https://github.com/excentris/compass">portfolio</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/federicocastaneda" target="_blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://federicocastaneda.com" target="_blank">Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/fedcastaneda" target="_blank">Twitter</a>
  </li>  
  <li class="main-list-item">
    <span class="fa fa-camera fa-lg main-list-item-icon"></span>
    <a href="http://federicocastaneda.smugmug.com" target="_blank">Photography</a>
  </li>  
</ul>


<!--
<div id="wufoo-zrhnr4i0h42d5p">
Fill out my <a href="https://federicocastaneda.wufoo.com/forms/zrhnr4i0h42d5p">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
<script type="text/javascript">var zrhnr4i0h42d5p;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'federicocastaneda',
'formHash':'zrhnr4i0h42d5p',
'autoResize':true,
'height':'399',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zrhnr4i0h42d5p = new WufooForm();zrhnr4i0h42d5p.initialize(options);zrhnr4i0h42d5p.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
-->
